.william {
  border: 1px solid blue;
  width: 400px;
  height: 500px;
  background-color: yellow;
}

.william p {
  color: blue;
}

.oscar {
  visibility: hidden;
  border: 1px solid blue;
  width: 400px;
  height: 500px;
  background-color: blue;
}

.header-top {
  grid-area: header-top;
  background-color: red;
}
